<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/stylesheet/signup.css">
    <link rel="stylesheet" href="../assets/stylesheet/global-style.css">
    <link rel="stylesheet" href="../assets/stylesheet/dahsboard.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <title>Dashboard </title>
</head>

<body>
    <section class="dashboard--wrapper">
        <header class="dashboard--header">
            <nav class="navbar  mb-0">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand p-0 ml-0" href="#">
                            <img src="../assets/images/logo-light.png" alt="logo" class="logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right d-flex align-items-center">
                            <button type="button" class="btn mr-5 bg-transparent">
                                <div class="notification d-flex position-relative">
                                    <div class="count">01</div>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </div>
                            </button>
                            <button type="button" class="btn mr-5 bg-transparent">
                                <div class="notification d-flex position-relative">
                                    <div class="count">05</div>
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                </div>
                            </button>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="pro--pic ml-3">
                                        <img src="../assets/images/team-4.jpg" class="img-responsive" alt="user image">
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            Show Users
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            Incentive
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                            Reports
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                            My Pricing
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                            Witness Details
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                            Acknowledgements
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-male" aria-hidden="true"></i>
                                            Relationship Manager Details
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center " type="button">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <section class="dashboard--middle--sec">

            <!-- Side nav -->
            <div id="mainSidenav" class="sidenav">
                <ul class="p-0 m-0">
                    <li>
                        <a>
                            <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                            <span>Start Digital Renting Services</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                            <span>Calculate Agreement Charges</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            <span>Check Appointment Slots</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#cl1">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            <span>My Documents</span>
                        </a>
                    </li>
                    <div class="collapse" id="cl1">
                        <li>
                            <a>
                                <i class="fa fa-sticky-note-o ml-5" aria-hidden="true"></i>
                                <span>My draft</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-floppy-o ml-5" aria-hidden="true"></i>
                                <span>Submitted to IGR</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-hourglass-start ml-5" aria-hidden="true"></i>
                                <span>IGR Submission Pending</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-money ml-5" aria-hidden="true"></i>
                                <span>Government Duties to be paid</span>
                            </a>
                        </li>
                    </div>
                    <li>
                        <a data-toggle="collapse" href="#cl2">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Actions</span>
                        </a>
                    </li>
                    <div class="collapse" id="cl2">
                        <li>
                            <a>
                                <i class="fa fa-file-archive-o ml-5" aria-hidden="true"></i>
                                <span>Initiate New Agreement</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-search-plus ml-5" aria-hidden="true"></i>
                                <span>Renewal Search</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>


            <!-- Right body sec -->
            <div id="main-content" class="main-content">
                <button type="button" class="btn collapse--btn" id="sidebar-btn">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 content--upper--wrap bg--primary">
                            <div class="row d-flex align-items-center ">
                                <div class="col-lg-9">
                                    <h2 class="mt-0">AGREEMENTS IN PROCESS</h2>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="content--middle--wrap">
                                <div class="table-responsive agreement--process--table">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th>REQUEST NO / TOKEN NO / PASSWORD</th>
                                                <th>PROPERTY ADDRESS</th>
                                                <th>SERVICES INITIATED</th>
                                                <th>PARTY DETAILS</th>
                                                <th>APPOINTMENT</th>
                                                <th>STATUS</th>
                                                <th>COMMENTS</th>
                                                <th>ACTIONS</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">1897(ASP_005_1897)</p>
                                                    <a>14523641523645</a>
                                                    <p class="mb-1 mt-2">Pass@123</p>
                                                    <a>View Details</a>
                                                </td>
                                                <td>PROPERTY ADDRESS</td>
                                                <td>Whole Agreement without Digital Renting appointment</td>
                                                <td>Whole Agreement without Digital Renting appointment</td>
                                                <td>Book/View Appointment</td>
                                                <td><a>Agreement Preparation</a></td>
                                                <td><a data-toggle="modal" data-target="#myModal"> Add </a> / <a> Show </a></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary " type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-file-word-o"
                                                                        aria-hidden="true"></i>Update Draft</a></li>
                                                            <li><a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>Send link to owner</a>
                                                            </li>
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>Send link to tenant</a>
                                                            </li>
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-id-card-o"
                                                                        aria-hidden="true"></i>Agreement details</a>
                                                            </li>
                                                            <li><a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-thumbs-up"
                                                                        aria-hidden="true"></i>Change biometric
                                                                    responsibility</a></li>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">1897(ASP_005_1897)</p>
                                                    <a>14523641523645</a>
                                                    <p class="mb-1 mt-2">Pass@123</p>
                                                    <a>View Details</a>
                                                </td>
                                                <td>PROPERTY ADDRESS</td>
                                                <td>Whole Agreement without Digital Renting appointment</td>
                                                <td>Whole Agreement without Digital Renting appointment</td>
                                                <td>Book/View Appointment</td>
                                                <td><a>Agreement Preparation</a></td>
                                                <td><a data-toggle="modal" data-target="#myModal"> Add </a> / <a> Show </a></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary " type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-file-word-o"
                                                                        aria-hidden="true"></i>Update Draft</a></li>
                                                            <li><a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>Send link to owner</a>
                                                            </li>
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>Send link to tenant</a>
                                                            </li>
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-id-card-o"
                                                                        aria-hidden="true"></i>Agreement details</a>
                                                            </li>
                                                            <li><a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-thumbs-up"
                                                                        aria-hidden="true"></i>Change biometric
                                                                    responsibility</a></li>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">1897(ASP_005_1897)</p>
                                                    <a>14523641523645</a>
                                                    <p class="mb-1 mt-2">Pass@123</p>
                                                    <a>View Details</a>
                                                </td>
                                                <td>PROPERTY ADDRESS</td>
                                                <td>Whole Agreement without Digital Renting appointment</td>
                                                <td>Whole Agreement without Digital Renting appointment</td>
                                                <td>Book/View Appointment</td>
                                                <td><a>Agreement Preparation</a></td>
                                                <td><a data-toggle="modal" data-target="#myModal"> Add </a> / <a> Show </a></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary " type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-file-word-o"
                                                                        aria-hidden="true"></i>Update Draft</a></li>
                                                            <li><a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>Send link to owner</a>
                                                            </li>
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>Send link to tenant</a>
                                                            </li>
                                                            <li> <a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-id-card-o"
                                                                        aria-hidden="true"></i>Agreement details</a>
                                                            </li>
                                                            <li><a class="dropdown-item d-flex align-items-center"
                                                                    href="#">
                                                                    <i class="fa fa-thumbs-up"
                                                                        aria-hidden="true"></i>Change biometric
                                                                    responsibility</a></li>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal--header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary btn--primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

    <script>


        $(document).ready(function () {
            $('#sidebar-btn').on('click', function () {
                $('#mainSidenav').toggleClass('visible');
                $('#main-content').toggleClass('visible--inout');
                $(this).toggleClass('in--out');
            });
        });
    </script>

</body>

</html>