body{
    font-family: 
    -apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}
/*------------------ header css (start here) ------------------*/
.dashboard--header .navbar-header .navbar-brand img{
    width: 50%;
    margin-top: 5px;
}
.dashboard--header .navbar   {
    box-shadow: 0 0 5px #ddd;
}
.dashboard--header .dropdown-menu{   
    left: unset !important; 
    right: 0px;
    border: none;
}
.dashboard--header .pro--pic{
    width: 36px;
    height: 36px;
    border-radius: 50%;    
}
.dashboard--header .pro--pic img{
    border-radius: 50%;    
}
.dashboard--header .dropdown .dropdown-toggle{
    padding-top: 7px;
    padding-bottom: 7px;
}
.dashboard--header .notification .count {
    width: 15px;
    height: 15px;
    background: #f15c5b;
    color: #fff;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    right: -8px;
    top: -11px;
    cursor: pointer;
}
.dashboard--header .notification .fa {
    font-size: 20px;
}
/*------------------ Header css (end here) ------------------*/

/*------------------ Middle section css (start here)  ------------------*/
 
.dashboard--middle--sec .sidenav {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s; 
    margin-top: 55px;
    border-right: 1px solid #ccc;
    overflow: auto;
    height: calc(100vh - 55px);
}
.dashboard--middle--sec .sidenav.visible {
    width: 250px;
}
.dashboard--middle--sec .sidenav ul li{
    list-style-type: none;
} 
.dashboard--middle--sec .sidenav a {
    padding: 12px 5px 12px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    outline: none;
    text-decoration: none;
} 
.dashboard--middle--sec .sidenav ul li a .fa,
.dashboard--middle--sec .sidenav a span{
    color: #000;
    font-weight: 400;
} 
.dashboard--middle--sec .sidenav ul li a:hover{
    text-decoration: none; 
}
.dashboard--middle--sec .sidenav ul li a.active .fa,
.dashboard--middle--sec .sidenav ul li a.active span,
.dashboard--middle--sec .sidenav ul li a:hover .fa,
.dashboard--middle--sec .sidenav ul li a:hover span{ 
    color: #f45e5d;
    font-weight: 500;
}
.dashboard--middle--sec .sidenav a span{
    margin-left: 12px;
    font-size: 14px;
    display: none;
}
.dashboard--middle--sec .sidenav.visible a span{ 
    display: inline-block;
}
.dashboard--middle--sec .sidenav ul li a:hover {
    background-color: #f6f9fc;
}
.dashboard--middle--sec .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} 
.dashboard--middle--sec  .collapse--btn{ 
    border-radius: 50%;
    height: 25px;
    width: 25px; 
    font-size: 14px;
    box-shadow: 0 0 5px #ddd;
    background: #172b4d; 
    color: #fff;  
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 250px;
    top: 13px; 
    z-index: 99;
}
.dashboard--middle--sec .collapse--btn:focus{
    outline: none;
}
.dashboard--middle--sec  .collapse--btn .fa{
    font-size: 17px;
    line-height: 12px;
    font-weight: bold;
    transform: rotate(180deg);
}
.dashboard--middle--sec  .collapse--btn.in--out .fa{
    transform: rotate(0deg);
}
.dashboard--middle--sec .main-content {
    transition: margin-left .5s; 
    position: relative;
    margin-left: 40px;
    background-color: #f8f9fe;
}
.dashboard--middle--sec .main-content.visible--inout{
    margin-left: 250px;
}
.dashboard--middle--sec .main-content .content--upper--wrap{
    padding-top: 25px;
    padding-bottom: 150px;
}
.dashboard--middle--sec .main-content .content--upper--wrap h2{
    font-size: 18px;
    color: #fff;
}
.dashboard--wrapper .main-content .content--middle--wrap{ 
    margin-top: -110px;
    border-radius: 10px;
    /* box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);  */
} 
.dashboard--wrapper .main-content .table-responsive tbody tr{
    background-color: #f2f4fa;
}
.dashboard--wrapper .main-content .table-responsive tbody tr td   {
    color: #000; 
    font-size: 14px;
    vertical-align: middle;
}
.dashboard--wrapper .table-responsive thead tr th{
    background: #f6f9fc;
    border: none;
    color: #8898aa;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;    
    padding: 15px 8px;
}
.dashboard--wrapper .table-responsive thead tr th:first-child{
    border-top-left-radius: 6px;
}
.dashboard--wrapper .table-responsive thead tr th:last-child{
    border-top-right-radius: 6px;
}
.dashboard--wrapper .main-content .dropdown-menu .dropdown-item {
    text-decoration: none !important;
    color: #000 !important;
}
/* .dashboard--wrapper .main-content .dropdown-menu{   
    left: unset !important; 
    right: 0px;
    border: none;
} */

.dashboard--wrapper .agreement--process--table .table tbody tr td .dropdown-menu.show{
    top: 36px !important; 
}
.dashboard--wrapper .table tbody tr td  a{
    text-decoration: underline;
    color: #bc3934
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(1),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(1){    
   text-align: center;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(2),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(2){
    width: 10% !important;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(3),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(3){
    width: 15% !important;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(4),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(4){
    width: 18% !important;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(5),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(5){
    width: 27% !important;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(6),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(6){
    width: 16% !important;
    position: relative;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(7),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(7){
    width: 8% !important;
}
 
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details{
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .table--header{
    display: flex;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .table--body{
    display: flex;
    flex-direction: column;
    min-height: 0px;
    max-height: 100px;
    overflow: auto;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .td{
    font-size: 13px;
    padding: 9px;
    border-top: 1px solid #ddd;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .td.one{width: 40%;}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .td.two{width: 30%;}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .td.three{width: 30%;}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .table--header.collapsed .td.three .fa{   
    transform: rotate( 0deg );
}
.dashboard--wrapper .agreement--process--table .table tbody tr td .party--details .table--header .td.three .fa{
    transform: rotate( 183deg );
    position: absolute;
    right: 9px;
    top: 11px;
    color: #f15d5c;
    cursor: pointer;
}
.dashboard--wrapper .dataTables_wrapper .dataTables_length select{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
}
.dashboard--wrapper .dataTables_wrapper .dataTables_filter label,
.dashboard--wrapper .dataTables_wrapper .dataTables_length label{
    font-weight: 500;
}
.dashboard--wrapper .dataTables_wrapper .dataTables_filter input {
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #fff;
    margin-left: 10px;
    outline: none;
    width: 275px;
}
.dashboard--wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dashboard--wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #fff !important;
    border: 1px solid #f28272;
    border-radius: 50%;
    background: linear-gradient( 87deg , #f15c5b 0, #f49a80 100%) !important;
}


/*------------------ Digital Renting Services Modal (Start here) ------------------*/
.service--table{
    box-shadow: 0 0 5px #ddd;
    border-radius: 6px;
    max-height: calc(100vh - 312px);
    overflow: auto;
    margin: 15px 20px;
}
.service--table .table { 
    margin: 0;
}
.service--table.table-responsive thead tr th:first-child {
    border-top-left-radius: 6px;
}
.service--table.table-responsive thead tr th:last-child {
    border-top-right-radius: 6px;
}
.service--table.table-responsive thead tr th {
    background: #f6f9fc;
    border: none;
    color: #8898aa;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 15px 8px;
}
.service--table.table-responsive tbody tr td {
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
}
.service--table.table-responsive .table tbody tr td:last-child,
.service--table.table-responsive .table thead tr th:last-child{
    width:100px; 
    text-align: center;
}
.service--table.table-responsive .table tbody tr td .custom-checkbox .form-check-input{
    margin-top:4px;
}
.service--table.table-responsive .table tbody tr td .custom-checkbox .form-check-label{
    font-weight: 400;
}
.service--table.table-responsive table {
    width: 100%;
}

.digital--renting--services--modal .total--charges{
    margin: 20px 50px;
}
.digital--renting--services--modal .total--charges .input-group-addon{
    width: 83%;
    font-weight: 500;
    background: #f6f9fc;
}
.digital--renting--services--modal .total--charges .input-group .form-control{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    height: 45px;
}
#doorstepAppointmentDetails,
#govChargesModal{ 
    display: none;
}
.modal--body--wrapper{
    overflow: hidden;
}
.modal--body--wrapper .back--btn .fa {
    margin-right: 10px;
    font-size: 16px;
}

.gov--charges--details--wrapper{
    margin: 15px 20px;
}
 
.gov--charges--details--wrapper .form-group{
    margin-bottom: 20px;
}
.gov--charges--details--wrapper .header{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px; 
}
.doorstep--app--wrapper .input-group-addon,
.gov--charges--details--wrapper .input-group-addon{ 
    border: 1px solid #c1c1c1; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 6px 14px;
}
.gov--charges--details--wrapper .input-group{ 
    border-radius: 15px;
    height: 38px;
}
.doorstep--app--wrapper .form-control,
.gov--charges--details--wrapper .form-control{
    font-size: 15px;
    border: 1px solid #c1c1c1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 38px !important;
    border-left: none;
}
.doorstep--app--wrapper .form-control:focus,
.gov--charges--details--wrapper .form-control:focus{
    outline: none;
    box-shadow: 0 0 5px #ddd;
}
.doorstep--app--wrapper .calculate--btn,
.gov--charges--details--wrapper .calculate--btn{
    width: 50%;
    border-radius: 20px;
}

.gov--charges--details--wrapper .varying--rent--sec .rent--calculation .table{
    box-shadow: 0 0 5px #ddd;
    border-radius: 6px;
}
.gov--charges--details--wrapper .varying--rent--sec .rent--calculation .table tbody tr:first-child th{
    border-top: none;
}

.doorstep--app--wrapper{
    margin: 15px 20px;
}

/*------------------ Digital Renting Services Modal (End here) ------------------*/


/*------------------ Middle section css (end here)  ------------------*/