body{
    font-family: 
    -apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}
/*------------------ header css (start here) ------------------*/
.dashboard--header .navbar-header .navbar-brand img{
    width: 50%;
    margin-top: 5px;
}
.dashboard--header .navbar   {
    box-shadow: 0 0 5px #ddd;
}
.dashboard--header .dropdown-menu{   
    left: unset !important; 
    right: 0px;
    border: none;
}
.dashboard--header .pro--pic{
    width: 36px;
    height: 36px;
    border-radius: 50%;    
}
.dashboard--header .pro--pic img{
    border-radius: 50%;    
}
.dashboard--header .dropdown .dropdown-toggle{
    padding-top: 7px;
    padding-bottom: 7px;
}
.dashboard--header .notification .count {
    width: 15px;
    height: 15px;
    background: #f15c5b;
    color: #fff;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    right: -8px;
    top: -11px;
    cursor: pointer;
}
.dashboard--header .notification .fa {
    font-size: 20px;
}
/*------------------ Header css (end here) ------------------*/

/*------------------ Middle section css (start here)  ------------------*/
 
.dashboard--middle--sec .sidenav {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s; 
    margin-top: 55px;
    border-right: 1px solid #ccc;
    overflow: auto;
    height: calc(100vh - 55px);
}
.dashboard--middle--sec .sidenav.visible {
    width: 250px;
}
.dashboard--middle--sec .sidenav ul li{
    list-style-type: none;
} 
.dashboard--middle--sec .sidenav a {
    padding: 12px 5px 12px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    outline: none;
    text-decoration: none;
} 
.dashboard--middle--sec .sidenav ul li a .fa,
.dashboard--middle--sec .sidenav a span{
    color: #000;
    font-weight: 400;
} 
.dashboard--middle--sec .sidenav ul li a:hover{
    text-decoration: none; 
}
.dashboard--middle--sec .sidenav ul li a.active .fa,
.dashboard--middle--sec .sidenav ul li a.active span,
.dashboard--middle--sec .sidenav ul li a:hover .fa,
.dashboard--middle--sec .sidenav ul li a:hover span{ 
    color: #f45e5d;
    font-weight: 500;
}
.dashboard--middle--sec .sidenav a span{
    margin-left: 12px;
    font-size: 14px;
    display: none;
}
.dashboard--middle--sec .sidenav.visible a span{ 
    display: inline-block;
}
.dashboard--middle--sec .sidenav ul li a:hover {
    background-color: #f6f9fc;
}
.dashboard--middle--sec .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} 
.dashboard--middle--sec  .collapse--btn{ 
    border-radius: 50%;
    height: 25px;
    width: 25px; 
    font-size: 14px;
    box-shadow: 0 0 5px #ddd;
    background: #172b4d; 
    color: #fff;  
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -12px;
    top: 10px;
    z-index: 99;
}
.dashboard--middle--sec .collapse--btn:focus{
    outline: none;
}
.dashboard--middle--sec  .collapse--btn .fa{
    font-size: 17px;
    line-height: 12px;
    font-weight: bold;
    transform: rotate(180deg);
}
.dashboard--middle--sec  .collapse--btn.in--out .fa{
    transform: rotate(0deg);
}
.dashboard--middle--sec .main-content {
    transition: margin-left .5s; 
    position: relative;
    margin-left: 40px;
    background-color: #f8f9fe;
}
.dashboard--middle--sec .main-content.visible--inout{
    margin-left: 250px;
}
.dashboard--middle--sec .main-content .content--upper--wrap{
    padding-top: 25px;
    padding-bottom: 150px;
}
.dashboard--middle--sec .main-content .content--upper--wrap h2{
    font-size: 18px;
    color: #fff;
}
.dashboard--wrapper .main-content .content--middle--wrap{
    background-color: #172b4d !important;
    margin-top: -110px;
    border-radius: 10px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%); 
} 
.dashboard--wrapper .main-content .table-responsive tbody tr td   {
    color: #fff; 
    font-size: 14px;
    vertical-align: middle;
}
.dashboard--wrapper .table-responsive thead tr th{
    background: #f6f9fc;
    border: none;
    color: #8898aa;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;    
    padding: 15px 8px;
}
.dashboard--wrapper .table-responsive thead tr th:first-child{
    border-top-left-radius: 6px;
}
.dashboard--wrapper .table-responsive thead tr th:last-child{
    border-top-right-radius: 6px;
}
.dashboard--wrapper .main-content .dropdown-menu .dropdown-item {
    text-decoration: none !important;
    color: #000 !important;
}
.dashboard--wrapper .main-content .dropdown-menu{   
    left: unset !important; 
    right: 0px;
    border: none;
}

.dashboard--wrapper .agreement--process--table .table tbody tr td .dropdown-menu.show{
    top: 36px !important; 
}
.dashboard--wrapper .agreement--process--table .table tbody tr td  a{
    text-decoration: underline;
    color: #d1baba
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(1),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(1){
    width: 23%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(2),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(2){
    width: 15%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(3),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(3){
    width: 15%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(4),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(4){
    width: 15%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(5),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(5){
    width: 15%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(6),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(6){
    width: 10%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(7),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(7){
    width: 7%;
}
.dashboard--wrapper .agreement--process--table .table tbody tr td:nth-child(8),
.dashboard--wrapper .agreement--process--table .table thead tr th:nth-child(8){
    width: 80px;
    text-align: right;
}


/*------------------ Middle section css (end here)  ------------------*/