.body--wrapper{
    font-family: 'Roboto', sans-serif !important;
}
.body--wrapper a{
    font-family: 'Roboto', sans-serif !important;
    text-transform: capitalize;
    font-weight: 400;
}
.body--wrapper ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
.body--wrapper ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
.body--wrapper :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
.body--wrapper :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}
.body--wrapper .form-control:focus{
    outline: none;
    box-shadow: 0 0 5px #ddd;
}
.auth--btn--info {
    color: #fff;
    background-color: #f15c5b !important;
    border-color: #f15c5b !important;
}
.auth--btn--info:focus{
    outline: none !important;
}
.body--wrapper .form-control{
    font-size: 15px;
    border: 1px solid #c1c1c1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 45px !important;
    border-left: none;
}
.body--wrapper .input-group-addon{
    background-color: #f15c5b;
    border: 1px solid #c1c1c1;
    color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 6px 14px;
}
.body--wrapper .input-group{
    box-shadow: 0 0 5px #b3a8a8;
    border-radius: 15px;
    height: 45px;
}
 .body--wrapper .btn{
    padding: 7px 15px;
    font-size: 15px;
    min-width: 90px;
}
 .body--wrapper label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}
.body--wrapper .form-group {
    margin-bottom: 20px;
}
.custom-checkbox .form-check-input {
    position: absolute;
    margin-top: 5px;
    margin-left: 0;
    cursor: pointer;
}
.custom-checkbox .form-check-label{
    margin-left: 20px;
    cursor: pointer;
}
  
/*-- Header section (start here) --*/
 
.cust--header{
    box-shadow: 0 0 5px #ddd;
    z-index: 9;
    margin: 0;
} 
.cust--header .navbar-brand{
    height: 65px;
}
.cust--header .navbar-brand .logo{
    max-height: 100%;
    max-width: 100%;
} 

.body--wrapper .section-left {
    color: #fff;
    position: fixed;
    left: 0;
    top: 67px;
    bottom: 0;
    width: 60%; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.body--wrapper .section-left:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 67px;
    left: 0;
    bottom: 0;
    margin: auto;
    background: rgb(241 92 91 / 67%);
    z-index: -1;
}
.body--wrapper .section-left  .ad--data{
    width: 70%;
} 
.body--wrapper .section-right{ 
    padding: 16px 6%;
    position: fixed;
    right: 0;
    top:70px;
    bottom: 0;
    width: 40%;
    overflow: auto;
    text-align: center;
} 
.body--wrapper .section-right h1{
    font-size: 25px;
    margin: 25px 0 30px 0;
}  
.body--wrapper .section-right .footer .btn {
    width: 100%;
}
 
.body--wrapper .next--back--btn .fa{
    font-size: 26px;
    color: #fff;
}
.body--wrapper .owl-carousel { 
    width: 70% !important;
}
.body--wrapper .owl-carousel .owl-item {
    height: 300px;  
    display: flex;
    justify-content: center;
    align-items: center; font-size:70px; color:#fff;
}
.body--wrapper .owl-carousel .owl-stage {
    display: flex;
    }
.body--wrapper .owl-carousel .owl-item img {
    min-width: 100%;
    min-height: 100%;
}
.body--wrapper .owl-carousel .owl-item .item{ 
    height: 300px;
    width: 300px;
}
.owl-carousel .owl-dots{
    display: none;
}
 
 
.owl-carousel .owl-next,
.owl-carousel .owl-prev{
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f15c5b !important;
    box-shadow: 0 0 5px #701213;
    position: absolute;
    top: 38%;
}
.owl-carousel .owl-next{
    right: -60px;
}
.owl-carousel .owl-prev{
    left: -60px;
}
.owl-next span,
.owl-prev span{
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
}
.owl-next:focus,
.owl-prev:focus{
    outline: none;
}
.body--wrapper .remember--me{
    justify-content: space-between;
}
.body--wrapper .remember--me a{
    font-size: 14px;
    color: #f15c5b !important;
    font-weight: 400;
    text-decoration: underline !important;
    cursor: pointer;
}
 
.body--wrapper .forgot--note p{
    color: rgba(48,65,86,.54);
    font-size: 15px;
}
.body--wrapper .otp--send{
    margin: 7px 0 0 0;
    font-size: 13px;
    color: #9e9d9d;
}
.body--wrapper .otp--section{
    padding: 20px;
    margin: 15px 0 0 0;
    box-shadow: 0 0 5px #ddd;
}
.body--wrapper a{
    color: #000;
}
.body--wrapper a:focus{
    outline: none;
}

@media only screen and (max-width: 599px) {
    .body--wrapper{
        height: calc(100vh - 56px);
        overflow: auto;
        flex-direction: column;
    }
    .body--wrapper .section-right{
        padding: 15px;
        position: relative;
        top: 0;
        width: 100%;
        overflow: unset;
        order: -1;        
    }
    .body--wrapper .section-right h1 {
        font-size: 20px;
        margin: 10px 0 20px 0;
    }
    .body--wrapper .section-right img{
        width: 115px;
    }
    .body--wrapper .section-left   {
        width: 90%;
        margin: 0 auto 25px auto;
        top: 0;
        color: #fff;
        position: relative;
        padding: 30px 5px 5px 5px;
    }
    .body--wrapper .section-left:after{
        height: 27vh;
        top: 0;
    }
    .body--wrapper .owl-carousel {
        width: 185px !important;
    }
    .body--wrapper .owl-carousel .owl-item .item {
        height: 260px;
    }
    .body--wrapper .section-left  .ad--data {
        width: 99%;
        text-align: center;
    }
    .body--wrapper .section-left  .ad--data h1{
        font-size: 20px;
    }
    .body--wrapper .section-left  .ad--data p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .body--wrapper .section-left {
        width: 50%;
        top: 58px;
    }
    .body--wrapper .section-left:after{
        top: 55px;
    }
    .body--wrapper .section-right{
        width: 50%;
        top: 55px;
    }
     .body--wrapper .owl-carousel {
        width: 183px !important;
    }
    .body--wrapper .owl-carousel .owl-item .item {
        height: 150px;
    }
    .body--wrapper .owl-carousel .owl-item{
        height: 210px;
    }
    .body--wrapper .section-left  .ad--data {
        width: 81%;
    }
    .body--wrapper .section-left  .ad--data h1{
        font-size: 25px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .body--wrapper .owl-carousel .owl-item .item {
        height: 255px; 
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
@media screen and (orientation:landscape) and (max-width: 850px){}